@font-face {
    font-family: Daybreaker;
    src: url('/static/font/Daybreaker.ttf') format('truetype');
}


.text-gradient {
    -webkit-background-clip: text !important;
            background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.text-amber-400 {
   color: var(--amber-400);
}
.text-zinc-300 {color: var(--zinc-300);}
.text-zinc-400 {color: var(--zinc-400);}
.text-zinc-500 {color: var(--zinc-500);}
.text-zinc-600 {color: var(--zinc-600);}
.text-zinc-700 {color: var(--zinc-700);}
.text-zinc-800 {color: var(--zinc-800);}
.text-zinc-900 {color: var(--zinc-900);}
.text-zinc-950 {color: var(--zinc-950);}
.text-emerald-100 {color: var(--emerald-100);}
.text-emerald-200 {color: var(--emerald-200);}
.text-emerald-300 {color: var(--emerald-300);}
.text-emerald-400 {color: var(--emerald-400);}
.text-emerald-500 {color: var(--emerald-500);}
.text-emerald-600 {color: var(--emerald-600);}
.text-emerald-700 {color: var(--emerald-700);}
.text-emerald-800 {color: var(--emerald-800);}
.text-emerald-900 {color: var(--emerald-900);}
.text-emerald-950 {color: var(--emerald-950);}
.text-stone-50 {color: var(--stone-50);}
.text-stone-100 {color: var(--stone-100);}
.text-stone-200 {color: var(--stone-200);}
.text-stone-300 {color: var(--stone-300);}
.text-stone-400 {color: var(--stone-400);}
.text-stone-500 {color: var(--stone-500);}
.text-stone-600 {color: var(--stone-600);}
.text-stone-700 {color: var(--stone-700);}
.text-stone-800 {color: var(--stone-800);}
.text-stone-900 {color: var(--stone-900);}
.text-stone-950 {color: var(--stone-950);}
.text-blue-50 {color: var(--blue-50);}
.text-blue-100 {color: var(--blue-100);}
.text-blue-200 {color: var(--blue-200);}
.text-blue-300 {color: var(--blue-300);}
.text-blue-400 {color: var(--blue-400);}
.text-blue-500 {color: var(--blue-500);}
.text-blue-600 {color: var(--blue-600);}
.text-blue-700 {color: var(--blue-700);}
.text-blue-800 {color: var(--blue-800);}
.text-blue-900 {color: var(--blue-900);}
.text-blue-950 {color: var(--blue-950);}
.text-sky-50 {color: var(--sky-50);}
.text-sky-100 {color: var(--sky-100);}
.text-sky-200 {color: var(--sky-200);}
.text-sky-300 {color: var(--sky-300);}
.text-sky-400 {color: var(--sky-400);}
.text-sky-500 {color: var(--sky-500);}
.text-sky-600 {color: var(--sky-600);}
.text-sky-700 {color: var(--sky-700);}
.text-sky-800 {color: var(--sky-800);}
.text-sky-900 {color: var(--sky-900);}
.text-sky-950 {color: var(--sky-950);}

.docs-wrapper {
    article {
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: 1.5px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
        header {
            h1 {
                position: relative;
                line-height: calc(var(--ifm-heading-line-height) + 10px); 

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -6px; left: 0;
                    background-image: linear-gradient(
                        45deg,
                        hsl(44deg 43% 54%) 0%,
                        hsl(44deg 43% 52%) 5%,
                        hsl(43deg 43% 50%) 10%,
                        hsl(43deg 45% 49%) 16%,
                        hsl(43deg 47% 47%) 23%,
                        hsl(43deg 50% 45%) 32%,
                        hsl(43deg 53% 44%) 44%,
                        hsl(43deg 57% 42%) 70%,
                        hsl(43deg 61% 40%) 87%,
                        hsl(43deg 65% 39%) 93%,
                        hsl(43deg 71% 37%) 96%,
                        hsl(43deg 77% 35%) 98%,
                        hsl(44deg 87% 33%) 100%
                    );
                    width: 10px; height: 10px;
                    transform: rotate(45deg);
                    border: 2px solid #9b740b;
                }
                &::after {
                    content: var(--header-after-content, var(--h2-after-content, ""));
                    background-image: linear-gradient(
                        45deg,
                        hsl(44deg 43% 54%) 0%,
                        hsl(44deg 43% 52%) 5%,
                        hsl(43deg 43% 50%) 10%,
                        hsl(43deg 45% 49%) 16%,
                        hsl(43deg 47% 47%) 23%,
                        hsl(43deg 50% 45%) 32%,
                        hsl(43deg 53% 44%) 44%,
                        hsl(43deg 57% 42%) 70%,
                        hsl(43deg 61% 40%) 87%,
                        hsl(43deg 65% 39%) 93%,
                        hsl(43deg 71% 37%) 96%,
                        hsl(43deg 77% 35%) 98%,
                        hsl(44deg 87% 33%) 100%
                    );
                    display: block;
                    width: 100%;
                    margin: 5px auto 20px;
                    height: var(--header-border-height, var(--h2-border-height, 2px));
                }
            }
        }

        blockquote {
            overflow: auto;
            background: var(--theme-quote-bg-color, #fff);
            color: var(--theme-quote-fg-color, #242527);
            padding: 20px;
            margin: 40px 0;
            line-height: 1.6;
            position: relative;
            border-width: 25px 25px 25px 25px !important;
            border-style: solid !important;
            border-color: transparent !important;
            border-image-repeat: repeat !important;
            border-image-slice: 25 25 25 25 fill !important;
            border-image-source: url(https://media.dndbeyond.com/compendium-images/tcoe/0gqawlEa2tjXGxpc/tasha-notes.png) !important;
            background-color: transparent !important;
            filter: drop-shadow(4px 4px 6px #888);

            p:last-child {
                font-weight: bold;
                text-align: right;
            }
        }

        table {
            display: table !important;
            width: 100%;
            border: 1px solid var(--beige-600);

            tr {
                border: 0;
            }
        }
    }
}
.tabs-container {
    
    // border-left: 1px solid var(--beige-600);
    position: relative;
    border-radius: 15px 0 10px 10px;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(182,115,64,1) 100%);
    padding-left: 1px;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 1px;
        width: 101%;
        height: 100%;
        border-radius: 15px 15px 10px 10px;
        background: var(--ifm-background-color);
    }
    
    .tabs {
        position: relative;
        border-radius: 15px 15px 0 0;
        border-top: 1px solid rgba(182,115,64,1);
        display: inline-block;
        // background: var(--ifm-background-color);
        
        z-index: 1;

        &__item {
            padding: 10px calc(var(--ifm-tabs-padding-horizontal) * 2);
            border-radius: 0;
            border: 0 !important;

            &--active {
                background: var(--beige-400);
                color: black;
                text-shadow: 0 0 1px var(--beige-100);
                background: linear-gradient(90deg, var(--beige-400) 0%, var(--beige-600) 100%);
            }
        }
    }

    > div {
        position: relative;
        border-radius: 10px;
        padding: 1px;
        background: linear-gradient(125deg, rgba(255,255,255,0) 0%, rgba(182,115,64,1) 100%);;

        [role=tabpanel] {
            background: var(--ifm-background-color);
            border-radius: 0 10px 35px 10px;
            padding: 15px;
        }
    }
}